.searchResults img.backgroundImage {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  z-index: -1;
}
@media (orientation: landscape) {
  .searchResults img.backgroundImage {
    top: 0px;
  }
}
.searchResults img.fetchedImage {
  margin: 4px;
  max-height: 200px;
  vertical-align: bottom;
  cursor: pointer;
}
.searchResults .imageMetaData {
  min-height: 400px;
  width: 100%;
  float: left;
  background-color: #000;
}
.searchResults .imageMetaData > div.pointer {
  position: relative;
  top: -20px;
  left: 0px;
  width: 60px;
  height: 20px;
  overflow: hidden;
}
.searchResults .imageMetaData > div.pointer > div {
  background-color: #000;
  width: 60px;
  height: 60px;
  border: solid #fff 2px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Safari */
  transform: rotate(45deg); /* Standard syntax */
  position: relative;
  top: 14px;
}
.searchResults .imageMetaData > div.content {
  color: #fff;
  min-height: 400px;
  position: relative;
  top: -20px;
}
.searchResults .imageMetaData > div.content flickr-meta-data .figure {
  margin: 0px;
  position: absolute;
  background-color: #f00;
  width: 700px;
  max-height: 406px;
  padding: 7px;
  text-align: center;
  display: inline-block;
  float: left;
}
@media (max-width: 729px) {
  .searchResults .imageMetaData > div.content flickr-meta-data .figure {
    width: -moz-calc(100% - 14px);
    width: -webkit-calc(100% - 14px);
    width: calc(100% - 14px);
  }
}
.searchResults .imageMetaData > div.content flickr-meta-data .figure > img {
  max-height: 407px;
  max-width: 100%;
}
.searchResults .imageMetaData > div.content flickr-meta-data .info {
  display: inline-block;
  background-color: #ff0;
  min-width: 385px;
}
