.searchResults > img
	position fixed
	bottom 0px
	left 0px
	width 100%
	z-index: -1
	@media(orientation:landscape)
		top 0px

.searchResults img.fetchedImage
	margin 4px
	max-height 200px
	vertical-align: bottom
	cursor pointer

.searchResults .imagePointer
	height 300px
	width 100%
	float left
	background-color red

.searchResults .imagePointer > div
	position relative
	bottom 0px
	left -20px
	background-color black
	width 60px
	height 60px
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(45deg); /* Safari */
	transform: rotate(45deg); /* Standard syntax */

/*
span.testDiv
	margin 0px
	margin-top 200px
	height 200px
	position relative

span.testDiv > img
	max-height 200px
	position absolute
	bottom 0px
*/