search-field > div
	background-color #E6E6E6
	height 55px
	border-bottom 1px solid black

search-field center
	padding-top 8px

search-field center > .container
	width 653px

search-field center > .container > input
	height 29px
	width 550px
	border 1px solid black
	border-top-left-radius 19px
	border-bottom-left-radius 19px
	background: url('/images/MrMagnifier.png') no-repeat;
	background-color white
	padding-top 10px
	padding-left 45px
	float left

search-field center > .container > .searchButton
	height 30px
	width 45px
	background-color white
	border 1px solid black
	border-top-right-radius 19px
	border-bottom-right-radius 19px
	float right
	font-size 140%
	padding-top 10px
	padding-right 5px
	cursor pointer

search-field center > .container > .searchButton:hover
	background-color #82FF84

search-field center > .container > .searchButton:active
	background-color green