SMALL_WIDTH_BREAKPOINT = 680px

search-field > div
	background-color #E6E6E6
	height 55px
	border-bottom 1px solid black

search-field center
	padding-top 8px

search-field center > .container
	box-sizing: border-box
	overflow hidden
	width 653px
	padding-right 55px
	height 47px
	position relative
	@media(max-width SMALL_WIDTH_BREAKPOINT)
		width 100%
		padding-right 60px
		padding-left 5px

search-field center > .container > input
	box-sizing: border-box
	height 42px
	width 100%
	border 1px solid black
	border-top-left-radius 19px
	border-bottom-left-radius 19px
	background: url('/images/MrMagnifier.png') no-repeat;
	background-color white
	padding-top 10px
	padding-left 45px
	@media(max-width SMALL_WIDTH_BREAKPOINT)
		padding-right 50px

search-field center > .container > .searchButton
	position absolute
	top 0px
	right 0px
	height 30px
	width 45px
	background-color white
	border 1px solid black
	border-top-right-radius 19px
	border-bottom-right-radius 19px
	float right
	font-size 140%
	padding-top 10px
	padding-right 5px
	cursor pointer
	@media(max-width SMALL_WIDTH_BREAKPOINT)
		right 5px

search-field center > .container > .searchButton:hover
	background-color #82FF84

search-field center > .container > .searchButton:active
	background-color green