.searchResults > img {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  z-index: -1;
}
@media (orientation: landscape) {
  .searchResults > img {
    top: 0px;
  }
}
.searchResults img.fetchedImage {
  margin: 4px;
  max-height: 200px;
  vertical-align: bottom;
  cursor: pointer;
}
.searchResults .imageMetaData {
  height: 300px;
  width: 100%;
  float: left;
  background-color: #f00;
}
.searchResults .imageMetaData > div.pointer {
  z-index: 0;
  position: relative;
  top: 0px;
  left: 20px;
  background-color: #000;
  width: 60px;
  height: 60px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Safari */
  transform: rotate(45deg); /* Standard syntax */
}
/*
span.testDiv
	margin 0px
	margin-top 200px
	height 200px
	position relative

span.testDiv > img
	max-height 200px
	position absolute
	bottom 0px
*/
