div(ng-controller="mvSearchCtrl")
	search-field

	.searchResults(ng-controller="mvSearchResultsCtrl")

		div(ng-repeat="page in pages()" class="pageIndex{{$index}}")
			img(ng-repeat="image in page" ng-src="{{image.url}}" ng-click="showMetaDataForImage(image, $parent.$index, $index);" class="imageIndex{{$index}} fetchedImage")
		img(src="images/search-005.jpg")