doctype
html
	head
		title Flashlight
		link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
		link(rel="stylesheet", href="/vendor/normalize-css/normalize.css")
		link(rel="stylesheet", href="/vendor/toastr/toastr.css")
		link(rel="stylesheet", href="/css/site.css")
		link(rel="stylesheet", href="/css/searchField.css")
		link(rel="stylesheet", href="/css/searchResults.css")
		base(href="/")
	body(ng-app='app')
		img(src="images/search-005.jpg")
		block main-content
		include scripts